@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Didact Gothic", sans-serif;
}

h1{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 900;
    font-size: 5rem;
}


.shadow{
    background: linear-gradient(90deg, rgba(111,110,110,1) 0%, rgba(157,157,157,1) 49%, rgba(185,185,185,1) 59%, rgba(255,255,255,1) 100%);
}