@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Didact Gothic", sans-serif;
}

h1{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 900;
    font-size: 5rem;
}


